 .login-signup, .my-page-logout {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.login-signup a, .my-page-logout a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
 }
  
.sidebar-toggle {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 1001;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
  
.App-sidebar {
    position: fixed;
    left: -285px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #f8f8f8;
    color: rgb(0, 0, 0);
    transition: left 0.3s;
    padding: 1em;
    z-index: 1000;
}
.App-sidebar.open {
    left: 0;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    padding: var(--default-padding);
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--header-height);
}
      
footer {
    margin-top: auto;
    padding: var(--default-padding);
    color: var(--footer-text-color);
    background-color: var(--footer-background-color);
    width: 100%;
    text-align: center;
    font-size: 14px;
    height: var(--footer-height);
}
      
button {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    padding: var(--default-padding);
    border-radius: var(--button-border-radius);
    border: none;
    cursor: pointer;
}