.MeetingLog {
    margin: auto;
    font-family: Arial, sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;    
}

.record-button {
    align-items: center;
}

.meeting-contents {
    align-items: center;
    display: grid;
    place-items: center;
}

.h1 {
    text-align: center;
}

.participants {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: auto;

}

.choose, .dicided {
    display: grid;
    place-items: center;
    margin: 0 1em;
}

.par {
    margin: 0;
}

.delete {
    padding: 0.1em;
    color: #A32125;
    background-color: white;
    text-decoration: underline;
}

.p {
    text-align: center;
}

.end-button {
    align-items: center;
}
    
    
