body {
    margin: 0;
    font-family: Arial, sans-serif;}

    .App {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .App-header, .Assignment-header {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background-color: #A32125;
        color: rgb(255, 255, 255);
        padding: 1em;
        display: flex;
        justify-content: flex-end;
        z-index: 1000;
    }

    .login-signup, .my-page-logout {
        display: flex;
        align-items: center;
        margin-right: 1em;
    }

    .login-signup a, .my-page-logout a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        margin: 0 10px;
    }
  
    .sidebar-toggle {
        position: fixed;
        top: 1em;
        left: 1em;
        z-index: 1001;
        background: none;
        border: none;
        color: rgb(0, 0, 0);
        cursor: pointer;
    }
  
    .App-sidebar {
        position: fixed;
        left: -285px;
        top: 0;
        width: 250px;
        height: 100%;
        background-color: #f8f8f8;
        color: rgb(0, 0, 0);
        transition: left 0.3s;
        padding: 1em;
        z-index: 1000;
    }
  
    .App-sidebar.open {
        left: 0;
    }

    .sidebar-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;}

    .Assignment-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        padding: 1em;
        margin-top: 10px;
        text-align: center;
    }

    .white-box {
        display:flex;
        width:310px;
        background-color: white;
    }

    .comment {
        width: 300px;
        height:600px;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-right: 10px;
        padding: 1em 1em;
        background-color: #f8f8f8;
        
        text-align: center;
        stroke: #A32125;
        color: rgb(82, 82, 82);
    }


    .As-create-form {
        margin-top: 80px;
        margin-right: 60px;
        margin-left: 60px;
        width: 800px;
        display: flex;
        flex-direction: column;
        border-style: none;

    }

    .setting-list {
        
        display: flex;
        
        flex-direction: row;
    }

    .setting-list select {
        background-color:#ececec;
        width: 90px;
        height: 30px;
        margin-right: 5px;
        border-width: 2px;
        border-radius: 5px;
        text-align: center;


    }

    .setting-list input {
        background-color:#ececec;
        width: 130px;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        border-style: solid;
        border-width: 2px;
    }

    .As-name textarea{
        border: #970005;
        border-style: solid;
        margin-top: 5px;
        padding-top: 15px;
        padding-left: 25px;
        width: 800px;
        border-radius: 5px;
        height:50px;
        resize: none;
    }

    .As-text textarea{
        border: #970005;
        border-style: solid;
        margin-bottom: 5px;
        padding-top: 15px;
        padding-left: 25px;
        width: 800px;
        height: 100px;
        border-radius: 5px;
        resize: none;
        overflow: auto;
        word-wrap: break-word;
        white-space: pre-wrap;

    }


    .As-create-form button {
        width: 100px;
        padding: 10px;
        margin-left: auto;
        text-align: center;
        font-weight: bold;
        border-radius: 5px;
        background-color: #970005;
        color: white;
        border-style: none;
    }
    
    .Assignment-look {
        width: 920px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        padding-top: 20px;
        text-align: center;
    }

    .my-assignment {
        background-color:#f8f8f8;
        margin-right:30px;
        margin-left: 30px;
        width: 400px;
        height: 500px;
        border-radius: 10px;
        
        
    }

    .all-assignment {
        background-color:#f8f8f8;
        margin-left:30px;
        margin-right: 30px;
        width: 400px;
        height: 500px;
        border-radius: 10px;
    }

    .my-as-item, .all-as-item {
        background-color: #ffffff;
        border-radius: 5px;
        color: black;
        width: 350px;
        
        margin-right: 25px;
        margin-left: 25px;
        height: 40px;
        
    }




